.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none;
}

.navbar.scrolled {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logo-tech {
  font-size: 2.2rem;
  font-weight: bold;
  color: #00b894;
  margin-right: 5px;
}


.navbar-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navbar-links .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links .nav-link:hover {
  color: #00b894;
  transform: scale(1.05);
  border-bottom: 2px solid #00b894;
}


.menu-icon {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1100;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    list-style-type: none;
  }

 
  .navbar-links.active {
    flex-direction: column;
    padding: 1rem 2rem;
    max-height: 500px;
  }
}

